# OS / editor / backup
.DS_Store
Thumbs.db
desktop.ini
v0.html
v1.html

# VS Code (facoltativo)
.vscode/
*.code-workspace

# Logs
*.log

# Node / build (nel caso finiscano dentro per errore)
node_modules/
dist/
build/
coverage/
.cache/

# Env
.env
.env.*
v1.html

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
